body {
  font-family: sans-serif;
  margin: 0;
  padding: 20px;
  color: #333;
}

.section {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.olive {
  background-color: #a2c983;
}

.lime {
  background-color: #d0f2c4;
}

.mint {
  background-color: #bced99;
}

.sage {
  background-color: #85a368;
}

.forest {
  background-color: #3b593b;
  color: #fff;
}

h1 {
  font-size: 40px;
  margin-bottom: 10px;
  text-align: center;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

p {
  line-height: 1.5;
  text-align: center;
}

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto;
}

ul {
  list-style: none;
  padding: 0;
  text-align: center;
}
